<div id="base">
  <h2>Noticias</h2>
  <hr>
  <div class="row justify-content-end no-gutters">
    <div id="infoMessage" class="col-12 col-md-9">
      <p class="message" *ngIf="msgError == ''">{{getInfo()}}</p>
      <p class="message" *ngIf="msgError != ''">{{msgError}}</p>
    </div>
    <button mat-button id="btnNew" class="col-6 col-md-4 col-lg-3" (click)="createNews()">
      <mat-icon class="icon">add</mat-icon>Crear Noticia
    </button>
  </div>
  <div id="newsList" class="row no-gutters">
    <div class="col-12 col-md-4" *ngFor="let _news of news; let index = index">
      <div class="news">
        <div class="imageNews">
          <img *ngIf="_news.image && _news.image != 'null'" src="{{getUrlImage(_news.image)}}"
            style="height: 150px; width: 100%;" alt="">
        </div>
        <div class="infoNews">
          <p class="nameNews">{{_news.name}}</p>
          <p class="description">{{getShortDescription(_news.description)}}</p>
          <div class="row justify-content-center no-gutters">
            <div class="col-12 col-md-6">
              <button class="btnDelete" (click)="deleteNews(_news, index)">Eliminar</button>
            </div>
            <div class="col-12 col-md-6">
              <button class="btnEdit" (click)="updateNews(_news, index)">Editar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>