#base {
    height: 100%;
    width: 100%;
    background-image: url("/assets/images/background.png");
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;   
}

#row {
    padding: 0% 2% 0% 2%;
}

#content {
    height: 100%;
    background-color: #fff;
}