#base {
    height: 100%;
    width: 100%;
}

.info {
    text-align: justify;
}

#form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#data {
    display: flex;
    flex-direction: column;
}

#error {
    color: red;
    text-align: center;
}

#btn-cancel {
    background-color: #fff;
    color: rgb(1, 81, 172);
    border: 1px solid rgb(1, 81, 172);
}

#btn-save {
    background-color: rgb(1, 81, 172);
    border: 1px solid rgb(1, 81, 172);
    color: #fff;
}
