#base {
    height: 100%;
    width: 100%;    
}

#bar {
    width: 100%;
    height: 200px;
    background-color: #0A266F;
    /*background-image: url('/assets/images/bar.jpg');*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 4px solid #0A266F;
}

/*
#logotipo{
    background-image: url('/assets/images/escudo-blanco.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border-radius: 50% 50% 50% 50%;
}
#image-iot {
    background-image: url('/assets/images/IoTIC.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}*/