<div id="base">
  <h2>Recursos</h2>
  <hr>
  <div class="row justify-content-end no-gutters">
    <div id="infoMessage" class="col-12 col-md-8 col-lg-9">
      <p class="message" *ngIf="msgError == ''">{{getInfo()}}</p>
      <p class="message" *ngIf="msgError != ''">{{msgError}}</p>
    </div>
    <button mat-button id="btnNew" class="col-6 col-md-4 col-lg-3" (click)="create()">
      <mat-icon class="icon">add</mat-icon>Crear Recurso
    </button>
  </div>

  <div id="resourceList" class="row no-gutters">
    <div class="col-12 col-md-4" *ngFor="let resource of resources; let index = index">
      <div class="resource">
        <div class="imageResource">
          <img *ngIf="resource.image && resource.image != 'null'" src="{{getUrlImage(resource)}}" style="width: 100%; height: 150px;;" alt="">
        </div>
        <div class="infoResource">
          <p class="nameResource">{{resource.name}}</p>
          <p class="description">{{getShortDescription(resource.description)}}</p>
          <p class="description">Estado: {{getStringState(resource.avialable)}}</p>
          <p class="description">Categoría: {{resource.category.name}}</p>
          <div class="row justify-content-end no-gutters">
            <div class="col-12 col-md-6">
              <button class="btnEdit" (click)="update(resource)">Editar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>