#message {
    margin: 15px 3px 15px 3px;
    text-align: justify;
}

#btnContinue {
    color: #fff;
    background-color: rgb(68, 109, 197);
    box-shadow: 2px 2px 6px rgb(87, 87, 87);
}

#btnContinue:hover {
    background-color: rgb(79, 118, 202);
    box-shadow: 3px 2px 10px rgb(59, 60, 61);
}