<div id="base">
  <h2 mat-dialog-title align="start">Dispositivo</h2>
  <p class="info">Ingrese la información del dispositivo ofertado por el semillero, Llene todos los campos.</p>
  <p id="error" *ngIf="msgError != ''">{{msgError}}</p>

  <mat-dialog-content class="mat-typography">
    <form id="form" #courseForm="ngForm">
      <div class="row no-gutters">
        <div id="data" class="col-12 col-md-8 offset-md-4">
          <mat-form-field>
            <input matInput placeholder="Nombre" #name="ngModel" name="name" [(ngModel)]="device.name" required>
          </mat-form-field>
          <!--
          <mat-slide-toggle [color]="primary" [checked]="device.avialable">
            Disponible para préstamos
          </mat-slide-toggle>
          -->
          <mat-checkbox class="blue" name="avialable" [labelPosition]="before" [(ngModel)]="device.avialable" [color]="warn">Disponible para prestamos</mat-checkbox>
        </div>
        <div id="data-description" class="col-12 col-md-8 offset-md-4">
          <mat-form-field>
            <textarea id="description" matInput maxlength="{{length}}" placeholder="Descripción" #description="ngModel"
              name="description" [(ngModel)]="device.description" required></textarea>
            <mat-hint align="end">{{device.description.length}} / {{length}}</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button id="btn-cancel" [mat-dialog-close]="false" mat-button>Cancelar</button>
    <button id="btn-save" mat-button (click)="closeDialog()" cdkFocusInitial>Guardar</button>
  </mat-dialog-actions>
</div>