#base {
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
    z-index: -1;
}

#imgAntorcha {
    position: fixed;
    background: url("/assets/images/antorcha.png") no-repeat;
    left: 5%;
    bottom: 0;
    height: 592px;
    width: 251px;
    z-index: 1;
}

#imgBandera {
    position: fixed;
    background: url("/assets/images/bandera.png") no-repeat;
    z-index: 1;
    right: 0;
    bottom: 0;
    width: 345px;
    height: 130px;
}

#content {
    padding: 1% 2% 1% 2%;
    z-index: 2;
}

#logo {
    background-image: url("/assets/images/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 35%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#form {
    padding-top: 35px;
    padding-bottom: 45px;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 4px 12px rgb(73, 73, 73);
}

#title {
    text-align: center;
    margin-bottom: 10%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgb(87, 87, 87);
}

#msgLogin {
    text-align: center;
}

.msgError {
    color: red;
    text-align: center;
}

#btnLogin {
    margin-top: 10px;
    background-color: rgb(1, 81, 172);
    box-shadow: 1px 5px 10px rgb(112, 113, 114);
    color: #fff;
    padding: 2%;
    border-radius: 10px;
}

#btnLogin:hover {
    box-shadow: 1px 5px 10px rgb(155, 174, 211);
}