#base {
    margin: 2% 2% 1% 2%;
}

#activeLonas {
    width: 100%;
    margin: 1% 0% 1% 0%;
    padding: 1%;
    background-color: #fafafa;
}

.loan {
    margin: 1%;    
}

.data {
    color: rgb(85, 84, 84);
    margin: 1%;
}

.resourceList {
    width: 100%;
}

.dataLoanResource {
    border:1px solid rgb(177, 177, 177);
}


#queueReqs {
    width: 100%;
    margin: 1% 0% 1% 0%;
    padding: 1%;
    background-color: #fafafa;
}

.request {
    margin: 1%;
}

.item-name {
    color: rgb(85, 84, 84);
    font-weight: bold;
}

.resources {
    width: 100%;
}

.dataUser {
    width: 100%;
}

.resource {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 96%;
    margin: 1% 2% 1% 2%;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    box-shadow: 2px 2px 6px rgb(177, 177, 177);
}

#test {
    border: 1px solid red;
}

.image {
    height: 150px;
    width: 100%;
}

.info {
    padding: 5%;
}

.resourceName {
    text-align: center;
    color: #000;
    font-weight: bold;
}

.resourceReference {
    color: rgb(85, 84, 84);
}

.resourceSelect {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 96%;
    margin: 1% 2% 1% 2%;
    border: 1px solid rgb(73, 132, 209);
    background-color: rgb(73, 132, 209);
    box-shadow: 2px 3px 8px rgb(110, 110, 110);
}

.resourceSelectName {
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.note {
    margin: 2% 0% 1% 0%;
    padding: 1%;
    width: 100%;
    background-color: #fafafa;
}

.generateLoan {
    width: 100%;
    color: #fff;
    background-color: rgb(68, 109, 197);
    box-shadow: 2px 2px 6px rgb(87, 87, 87);
}

.generateLoan:hover {
    background-color: rgb(79, 118, 202);
    box-shadow: 3px 2px 10px rgb(59, 60, 61);
}