<div *ngIf="!finalCategory">
  <button mat-menu-item [matMenuTriggerFor]="submenu" #menuTrigger="matMenuTrigger">{{category.name}}
  </button>
  <mat-menu #submenu="matMenu" xPosition="after">
    <div *ngFor="let subcategory of category.categories">
      <app-menu-part mat-button category={{sendJSON(subcategory)}} (select)="sendSelection($event)"></app-menu-part>
    </div>
  </mat-menu>
</div>
<div *ngIf="finalCategory">
  <button mat-menu-item (click)="selectCategory(category._id)">{{category.name}}</button>
</div>