<div id="base">
  <h2 mat-dialog-title align="start">Categoría</h2>
  <p class="info">Ingrese la información correspondiente a la categoría</p>
  <mat-dialog-content id="data" class="mat-typography">
    <form id="form" #categoryForm="ngForm">
      <mat-form-field>
        <input matInput type="text" #name="ngModel" placeholder="Nombre" name="name" [(ngModel)]="category.name"
          required>
      </mat-form-field>
      <mat-checkbox name="avialable" [labelPosition]="before" [(ngModel)]="category.avialable"
            >Disponible</mat-checkbox>
      <mat-form-field>
        <textarea id="description" matInput maxlength="{{length}}" placeholder="Descripción" #description="ngModel"
          name="description" [(ngModel)]="category.description" required></textarea>
        <mat-hint align="end">{{category.description.length}} / {{length}}</mat-hint>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <p id="error" *ngIf="msgError != ''">{{msgError}}</p>
  <mat-dialog-actions align="end">
    <button id="btn-cancel" [mat-dialog-close]="false" mat-button>Cancelar</button>
    <button id="btn-save" mat-button (click)="closeDialog()" cdkFocusInitial>Guardar</button>
  </mat-dialog-actions>
</div>