<div id="base">
  <h2>Solicitudes</h2>
  <hr>
  <p>{{getInfoMessage()}}</p>
  <div class="panel" *ngFor="let request of requests; let index = index">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="item-name">{{getShortName(request.name, request.surname)}}</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row no-gutters">
          <div class="col-12 col-md-3"></div>
          <div class="col-12 col-md-9">
            <div class="info">
              <div class="data">
                <p class="item-name">Nombre Completo:</p>
                <p class="item-data"> {{request.name}} {{request.surname}}</p>
              </div>
              <div class="data">
                <p class="item-name">Correo:</p>
                <p class="item-data"> {{request.email}}</p>
              </div>
              <div class="data">
                <p class="item-name">Fecha de nacimiento:</p>
                <p class="item-data"> {{request.bornDate}}</p>
              </div>
              <div class="data">
                <p class="item-name">Programa:</p>
                <p class="item-data"> {{request.career}}</p>
              </div>
              <div class="data">
                <p class="item-name">Semestre:</p>
                <p class="item-data"> {{request.semester}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-end no-gutters">
          <div class="col-6 col-md-2">
            <button class="btnRefuse" (click)="refuse(request, index)">Rechazar</button>
          </div>
          <div class=" col-6 col-md-2">
            <button class="btnAccept" (click)="accept(request, index)">Aceptar</button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>