<div id="base">
  <h2 mat-dialog-title align="start">Recurso</h2>
  <p class="info">Ingrese la información del recurso ofertado por el semillero, Llene todos los campos.</p>

  <mat-dialog-content class="mat-typography">
    <form id="form" #courseForm="ngForm">
      <div class="row no-gutters">
        <div class="col-12 col-md-6">
          <div id="image">
            <div *ngIf="data.resource.image && data.resource.image != 'null'">
              <img src="{{getUrlImage()}}" style="width: 90%; height: 150px;" alt="">
            </div>
          </div>
          <p>
            <input type="file" placeholder="Seleccionar imagen" (change)="fileChangeEvent($event)">
          </p>
        </div>
        <div id="data" class="col-12 col-md-6">
          <mat-form-field>
            <input matInput placeholder="Nombre" #name="ngModel" name="name" [(ngModel)]="data.resource.name" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Referencia" #name="ngModel" name="refence"
              [(ngModel)]="data.resource.reference" required>
          </mat-form-field>
          <mat-checkbox name="avialable" [labelPosition]="before" [(ngModel)]="data.resource.avialable">Disponible para
            prestamos</mat-checkbox>
          <mat-form-field>
            <mat-label>Categoría</mat-label>
            <mat-select [(value)]="selectedCategory.name" name="category" required>
              <mat-option *ngFor="let category of categories; let index = index" [value]="category.name"
                (click)="selectCategory(index)">
                {{category.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div id="data-description" class="col-12">
          <mat-form-field>
            <textarea class="description" matInput maxlength="{{length}}" placeholder="Caracteristicas"
              #description="ngModel" name="features" [(ngModel)]="data.resource.features" required></textarea>
            <mat-hint align="end">{{data.resource.features.length}} / {{length}}</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <textarea class="description" matInput maxlength="{{length}}" placeholder="Descripción"
              #description="ngModel" name="description" [(ngModel)]="data.resource.description" required></textarea>
            <mat-hint align="end">{{data.resource.description.length}} / {{length}}</mat-hint>
          </mat-form-field>

        </div>
      </div>
    </form>
  </mat-dialog-content>

  <p id="error" *ngIf="msgError != ''">{{msgError}}</p>

  <mat-dialog-actions align="end">
    <button id="btn-cancel" [mat-dialog-close]="false" mat-button>Cancelar</button>
    <button id="btn-save" mat-button (click)="closeDialog()" cdkFocusInitial>Guardar</button>
  </mat-dialog-actions>
</div>