<div id="base">
  <h2 mat-dialog-title align="start">Evento</h2>
  <p class="info">Ingrese la información del evento que realizará semillero, Llene todos los campos.</p>
  <mat-dialog-content class="mat-typography">
    <form id="form" #eventForm="ngForm">
      <div class="row no-gutters">
        <div class="col-12 col-md-6">
          <div id="image">
            <div *ngIf="data.event.image && data.event.image != 'null'">
              <img src="{{getUrlImage()}}" style="width: 90%; height: 150px;" alt="">
            </div>
          </div>
          <p>
            <input type="file" placeholder="Seleccionar imagen" (change)="fileChangeEvent($event)">
          </p>
        </div>
        <div id="data" class="col-12 col-md-6">
          <mat-form-field>
            <input matInput placeholder="Nombre" #name="ngModel" name="name" [(ngModel)]="data.event.name" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput [min]="minStartDate" [max]="maxStartDate" [matDatepicker]="dp3"
              [formControl]="startDateControl" placeholder="Fecha">
            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
            <mat-datepicker #dp3 disabled="false"></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="number" min="10" placeholder="Creditos" #score="ngModel" name="score"
              [(ngModel)]="data.event.score" required>
          </mat-form-field>
        </div>
      </div>
      <mat-form-field>
        <textarea id="description" matInput maxlength="{{length}}" placeholder="Descripción" #description="ngModel"
          name="description" [(ngModel)]="data.event.description" required></textarea>
        <mat-hint align="end">{{data.event.description.length}} / {{length}}</mat-hint>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <p id="error" *ngIf="msgError != ''">{{msgError}}</p>
  <mat-dialog-actions align="end">
    <button id="btn-cancel" [mat-dialog-close]="false" mat-button>Cancelar</button>
    <button id="btn-save" mat-button (click)="closeDialog()" cdkFocusInitial>Guardar</button>
  </mat-dialog-actions>
</div>