<div id="base">
  <app-navbar id="navbar" (mouseleave)="openMainMenu()"></app-navbar>
  <div id="row" class="row justify-content-center no-gutters">
    <div id="content" class="col-12 col-md-10">
      <div class="row no-gutters">

        <div class="col-12 col-md-2" (mouseleave)="openMainMenu()">
          <button mat-button id="btnResources" [matMenuTriggerFor]="mainCategories" #mainTrigger="matMenuTrigger"
            (click)="openMainMenu()">Recursos
          </button>
          <mat-menu #mainCategories="matMenu" xPosition="after">
            <div *ngFor="let category of menu">
              <app-menu-part mat-button category={{sendJSON(category)}} (select)="getSelection($event)"></app-menu-part>
            </div>
          </mat-menu>
        </div>
        <div id="infoCategory" class="col-12 col-md-10" *ngIf="category">
          <h2>{{category.name}}</h2>
          <hr>
          <p id="description">{{category.description}}</p>
          <div id="resourceList" class="row no-gutters" *ngIf="category.resources">
            <div class="col-12 col-md-4" *ngFor="let resource of category.resources">
              <div class="resource">
                <div class="resourceImage">
                  <img *ngIf="resource.image && resource.image != 'null'" src="{{getUrlImage(resource.image)}}" style="height: 150px;width: 100%;" alt="">
                </div>
                <div class="infoResource">
                  <p class="resourceName">{{resource.name}}</p>
                  <p class="resourceDescription">{{getShortDescription(resource.description)}}</p>
                </div>
                <div class="options">
                  <button class="btnDetails" (click)="showDetails(resource)">Detalles</button>
                  <button class="btnLoan" (click)="loan(resource)">Solicitar Prestamo</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>