<div id="base">
  <app-navbar id="navbar"></app-navbar>
  <div id="row" class="row justify-content-center no-gutters">
    <div id="content" class="col-12 col-md-10">
      <div class="row no-gutters">

        <div id="test" class="col-12 col-md-2">


          <button mat-button [matMenuTriggerFor]="animals" #clickHoverMenuTrigger="matMenuTrigger">boton
          </button>
   
          <mat-menu #animals="matMenu" xPosition="after">
            <button mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</button>

            <!--
            <button mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</button>
            -->
          </mat-menu>

          <mat-menu #vertebrates="matMenu" yPosition="below">
            <button mat-menu-item>Amphibians</button>
            <button mat-menu-item>Reptiles</button>
            <button mat-menu-item>Birds</button>
            <button mat-menu-item>Mammals</button>
            <app-menu-part></app-menu-part>
          </mat-menu>


        </div>


      </div>
    </div>
  </div>
</div>