<div id="base">
  <h2>Noticias</h2>
  <hr>
  <div class="row justify-content-end no-gutters">
    <div id="infoMessage" class="col-12 col-md-10">
      <p class="message" *ngIf="msgError == ''">{{getInfo()}}</p>
      <p class="message" *ngIf="msgError != ''">{{msgError}}</p>
    </div>
    <button mat-button id="btnNew" class="col-6 col-md-2" (click)="createNotice()">
      <mat-icon class="icon">add</mat-icon>Crear Noticia
    </button>
  </div>
  <div id="noticeList" class="row no-gutters">
    <div class="col-12 col-md-4" *ngFor="let notice of notices; let index = index">
      <div class="notice">
        <div class="imageNotice">

        </div>
        <div class="infoNotice">
          <p class="nameNotice">{{notice.name}}</p>
          <p class="description">{{getShortDescription(notice.description)}}</p>
          <div class="row justify-content-center no-gutters">
            <div class="col-12 col-md-6">
              <button class="btnDelete" (click)="deleteNotice(notice, index)">Eliminar</button>
            </div>
            <div class="col-12 col-md-6">
              <button class="btnEdit" (click)="updateNotice(notice, index)">Editar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>