<div id="base">
  <app-navbar></app-navbar>
  <div class="row no-gutters">
    <div class="col-12 col-md-10 offset-md-1">
      <div id="content" class="row no-gutters">
        <div class="col-12 col-md-2">
          <mat-list id="list" role="list">
            <h4 matSubHeader class="header">Semillero</h4>
            <mat-list-item role="list-item" (click)="displayOption(1)">Cursos</mat-list-item>
            <mat-list-item role="list-item" (click)="displayOption(2)">Noticias</mat-list-item>
            <mat-list-item role="list-item" (click)="displayOption(3)">Eventos</mat-list-item>
            <mat-list-item role="list-item" (click)="displayOption(4)">Nosotros</mat-list-item>
            <mat-list-item role="list-item" (click)="displayOption(5)">Contacto</mat-list-item>
            <mat-list-item role="list-item" (click)="displayOption(6)">Mensajes</mat-list-item>
            <mat-divider></mat-divider>
            <h4 matSubHeader class="header">Recursos</h4>
            <mat-list-item role="list-item" (click)="displayOption(7)">Categorias</mat-list-item>
            <mat-list-item role="list-item" (click)="displayOption(8)">Dispositivos</mat-list-item>
            <mat-list-item role="list-item">Biblioteca</mat-list-item>
            <mat-list-item role="list-item">
              <p matBadge="5" matBadgeOverlap="false">Prestamos</p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <h4 matSubHeader class="header">Integrantes</h4>
            <mat-list-item role="list-item" (click)="displayOption(11)">Admitidos</mat-list-item>
            <mat-list-item role="list-item" (click)="displayOption(12)">
              <p matBadge="5" matBadgeOverlap="false">Solicitudes</p>
            </mat-list-item>
          </mat-list>
        </div>
        <div id="config" class="col-12 col-md-10">
          <app-courses-management *ngIf="codeDisplayed == 1"></app-courses-management>
          <app-news-management *ngIf="codeDisplayed == 2"></app-news-management>
          <app-events-management *ngIf="codeDisplayed == 3"></app-events-management>
          <app-info-management *ngIf="codeDisplayed == 4"></app-info-management>
          <app-contact-management *ngIf="codeDisplayed == 5"></app-contact-management>
          <app-messages-management *ngIf="codeDisplayed == 6"></app-messages-management>
          <app-categories-management *ngIf="codeDisplayed == 7"></app-categories-management>
          <app-devices-management *ngIf="codeDisplayed == 8"></app-devices-management>
          <app-users-management *ngIf="codeDisplayed == 11"></app-users-management>
          <app-requests *ngIf="codeDisplayed == 12"></app-requests>
        </div>
      </div>
    </div>
  </div>