<div id="base">
  <app-navbar></app-navbar>
  <div class="row no-gutters">
    <div class="col-12 col-md-10 offset-md-1">
      <div id="content" class="row no-gutters">
        <div class="col-12 col-md-2">
          <mat-list id="list" role="list">
            <h4 matSubHeader class="header">Semillero</h4>
            <mat-list-item role="list-item" (click)="displayCourses()">Cursos</mat-list-item>
            <mat-list-item role="list-item" (click)="displayNotice()">Noticias</mat-list-item>
            <mat-list-item role="list-item" (click)="displayEvent()">Eventos</mat-list-item>
            <mat-list-item role="list-item">Información</mat-list-item>
            <mat-list-item role="list-item">Contacto</mat-list-item>
            <mat-divider></mat-divider>
            <h4 matSubHeader class="header">Recursos</h4>
            <mat-list-item role="list-item">Dispositivos</mat-list-item>
            <mat-list-item role="list-item">Códigos</mat-list-item>
            <mat-list-item role="list-item">Biblioteca</mat-list-item>
            <mat-list-item role="list-item">
              <p matBadge="5" matBadgeOverlap="false">Prestamos</p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <h4 matSubHeader class="header">Integrantes</h4>
            <mat-list-item role="list-item">Admitidos</mat-list-item>
            <mat-list-item role="list-item" (click)="displayRequests()">
              <p matBadge="5" matBadgeOverlap="false">Solicitudes</p>
            </mat-list-item>
          </mat-list>
        </div>
        <div id="config" class="col-12 col-md-10">
          <app-courses-management *ngIf="codeDisplayed == 1"></app-courses-management>
          <app-notice-management *ngIf="codeDisplayed == 2"></app-notice-management>
          <app-event-management *ngIf="codeDisplayed == 3"></app-event-management>
          <app-requests *ngIf="codeDisplayed == 11"></app-requests>
        </div>
      </div>
    </div>
  </div>